.jumbotron {
    text-align: center;
    opacity: .7;
    margin-top: 10%;
    font-family: 'Oxygen', cursive;
}

.container {
    height: 95vh
}
body {
    background-image: url("../Images/bkg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-size: 60px;
}
@media screen and (max-width: 350px) {
    .heading {
        font-size: 40px;
    }
}