.jumbotron {
    text-align: center;
    opacity: .7;
    margin-top: 10%;
    font-family: 'Oxygen', cursive;
}

.container {
    height: 95vh
}
body {
    background-image: url("../Images/bkg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    font-size: 25px;
}
.heading {
    font-size: 60px;
}
@media screen and (max-width: 420px) {
    .heading {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
    .jumbotron {
        margin-top: 20%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}